header{
background-color: #ff0000;
width: 100%;
height: 200px;
}

footer{
background-color: blue;
width: 100%;
height: 200px;
}

#strontbeer { background-color: red;

}

#kak { background-color: blue;

}
#poert { background-color: orange;

}
#ruft { background-color: white;

}
#skeitproblem { background-color: white;

}
#miakulpa { background-color: #ff9900;

}
#trots { background-color: #9933FF;

}
#ruftsack { background-color: #99FF99;

}
